.feed-div-main {
  width: 100%;
  background: linear-gradient(
    235deg,
    whitesmoke,
    #fafdffaf,
    whitesmoke,
    #d6d1d3,
    rgb(245, 241, 237),
    whitesmoke
  );
  height: 115vh;
}
.feed-col {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.feed-marg {
}
.feed-h1 {
  padding-top: 50px;
  color: #af9e8b;
  font-size: 13px;
}
.feed-h2 {
  font-size: 30px;
  font-weight: 700;

  color: #1e2a34;
  margin-top: 5px;
}
.feed-bord {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.feed-border {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 420px;
  background-color: white;
  margin: 4px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 1px #010615;
}
.feed-img {
  width: 348px;
  height: 250px;

  margin-bottom: 164px;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.feed-peru {
  display: block;
  width: 348px;
  margin-top: 240px;
  margin-left: -320px;
  justify-content: center;
  align-items: center;
}
.feed-peru-h1 {
  margin-top: 20px;
  color: #3d65b8;
  font-size: 12px;
}
.feed-peru-h1 span {
  color: #6e6e6e;
}
.feed-peru-h2 {
  margin-top: 20px;
  color: #1e2a34;
}
.feed-hr {
  margin-top: 30px;
}
.feed-peru-h3 {
  margin-top: 20px;
  color: #6e6e6e;
  font-size: 11px;
}
.feed-peru-h3 span {
  font-size: 13px;
  color: #6e6e6e;
}
.feed-hr {
  background-color: #6e6e6e;
  height: 0.1vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  color: #6e6e6e;
  margin-left: 0px;
  margin-right: auto;
}
.feed-bug {
  border: 1px solid thistle;
  width: 180px;
  height: 40px;
  background-color: #ce9dd9;
  /* background: linear-gradient(
    235deg,
    thistle,
    #fafdffaf,
    whitesmoke,
    #d6d1d3,
    rgb(245, 241, 237),
    whitesmoke
  ); */
  border-radius: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.feed-bug div {
  font-size: 13px;
  margin-top: 7px;
}
@media screen and (max-width: 1200px) {
  .feed-div-main {
    height: 215vh;
  }
  .feed-bord {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
  }
  .feed-border {
    margin: 20px;
  }
  .feed-bug {
  }
}
@media screen and (max-width: 980px) {
  .feed-div-main {
    height: 300vh;
  }
  .feed-bord {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feed-border {
    margin: 20px;
  }
}
@media screen and (max-width: 700px) {
  .feed-div-main {
    background: white;
    margin-top: -180px;
  }
  .feed-bord {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feed-border {
    margin: 20px;
  }
}
/* .feed-border :before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #fff;
  z-index: -1;
}
.feed-border :after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #fff;
  z-index: -2;
  filter: blur(40px);
}
.feed-border :nth-child(1):before,
.feed-border :nth-child(1):after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.feed-border :nth-child(2):before,
.feed-border :nth-child(3):after {
  background: linear-gradient(235deg, #ff005e, #ff005e, #fbff00);
}
.feed-border :nth-child(3):before,
.feed-border :nth-child(3):after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
} */
@media screen and (max-width: 480px) {
  .feed-div-main {
    background: white;
    margin-top: -240px;
  }
  .feed-bord {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feed-h2 {
    font-size: 20.5px;
  }
  .feed-border {
    width: 300px;
    margin: 20px;
  }
  .feed-img {
    width: 298px;
  }
  .feed-peru {
    margin-left: -275px;
  }
  .feed-peru-h2 {
    font-size: 14px;
  }
  .feed-bug {
    background-color: #ce9dd9;
  }
}
